/* http://meyerweb.com/eric/tools/.mode-edition/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, addr.mode-edition, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
header a{
	text-decoration: none;
	color: black;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset **/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color:#FFFEF8;;
}


header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#btnLogin:hover, #btnLogout:hover {
	font-weight: 600;
}



#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form, .login-form form , .form-container{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, .login-form input,  .form-info-photo input, select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #loginForm label, .form-info-photo label{
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer{
	background-color: white;
	height: 60px;
	margin: 0 calc(50% - 50vw);
	position: relative;
}

footer nav{
	background-color: #ffffff;
	position: absolute;
	right: 100px;
	bottom: 20px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
}

.title-container{
	height: 267px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
}


.mode-edition{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -30px;
}
.mode-edition h2{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


.btn-modifier::before{
	content: "\f044"; 
	font-family: FontAwesome;
	margin-right: 0.5em;
}  

.btn-modifier {
	margin-left: 370px;
	line-height: normal;
	font-family: Work Sans;
	cursor: pointer;
	border: none;
	background-color: #FFFEF8;
	font-size: 14px;
  }

.filtres{
	display: flex;
	gap: 10px;
	margin: 51px auto;
	width: 60%;
}

.filtres button{
	color: #1D6154;
	background-color: white;
	height: 37px;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	border-radius: 60px;
	border: 1px solid #1D6154;
}

.btn-filtrer{
	display: none;
}

.btn-filtrer:checked + label{
	background-color: #1D6154;
	color: white
}



.filtres label{
	color: #1D6154;
	background-color: white;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	height: 37px;
	line-height: 37px;
	border-radius: 60px;
	border: 1px solid #1D6154;
}

.btn-tous, .btn-objets {
	width: 18%; 
}
.btn-appartement{
	width: 26%;
}
.btn-hotel{
	width: 32%;
}

/* Page Login */

#page-login{

	height: 1024px;
}

.header-login{
	font-weight: 600;
}

.login-form{
margin: 242px auto 415px;
width: 50%;
}


.login-form > * {
	text-align: center;
}

.login-form p a {
	color: inherit;
}

/* index login */

.header-edition{
	height: 59px;
	background-color: black;
	margin: 0 calc(50% - 50vw);
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-edition p{
	color: white;
	text-align: center;
	text-decoration: none;
}

.header-edition p::before {
	content: "\f044"; 
	font-family: FontAwesome;
	margin-right: 0.5em;
  }


/* modal */
#closeModalBtn, #btn-back{
	cursor: pointer;
}

#modal-bg{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color:rgba(0, 0, 0, 0.30);
}


#modal-container{
	position: absolute;
	width: 630px;
	height: 688px;
	top: 600px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	background-color: #FFF;
	z-index: 1;
	}


#modal-content h3{
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 40px;
	
}

#modal-content{
	width: 420px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px auto 45px;
}

hr{
	width: 100%;
	height: 1px;
	background-color: #B3B3B3;
	border: 0;
}
.modal-top{
	position: relative;
	width: 570px;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 26px;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}


.gallery-modal{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-column-gap: 6.2px;
	grid-row-gap: 20px;
	overflow: auto;
	height: 430px;

}

.gallery-modal img{
	width: 100%;
}
#modal{
	display: none;
}

.projet-modal{
	position: relative;
	height: 100%;
}
.projet-modal div{
	height: 17px;
	width: 17px;
	background-color: black;
	border-radius: 2px;
	text-align: center;
	line-height: 19px;
	position: absolute;
	top: 7px;
	right: 5px;
}

.remove-projet{
	cursor: pointer;
}


#btnAjout, #submitBtn{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 240px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
	border: none;
	cursor: pointer;
}

#submitBtn{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #A7A7A7;
	margin : 2em auto ;
	width: 240px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
	border: none;
	cursor: pointer;
}

#submitBtn:disabled{
	background-color: #A7A7A7;
}


/* modale -ajout photo- */

.form-container {
    display: flex;
    flex-direction: column;
    width: 420px;
	height: 400px;
}

.form-photo {
    text-align: center;
    height: 170px;
    border-radius: 3px;
    background-color: #E8F1F6;
}

.form-photo svg{
    margin-top: 13px;
}

.form-photo p{
    color: #444;
    text-align: center;
    font-family: Work Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-upload{
    
    background-color:#CBD6DC;
    margin :auto ;
    width: 180px;
    height:36px;
	border-radius: 60px ;
	text-align: center;
    font-family: Work Sans;
	font-size: 14px;
    font-style: normal;
    font-weight: 500;
	color: #306685;
    line-height: 36px;
}



.form-info-photo label{
    color: #3D3D3D;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
	display: block;
}

#photoUploader label {
	display: block;
    margin-bottom: 5px;
	cursor:pointer;
}


input[type="file"]{
  display:none;
  cursor: pointer;
}

.form-container input, #category {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#imgPreview {
    max-width: 100%;
    max-height: 170px;
}

